<!DOCTYPE html>
<html>
<head>
    <title>张乐萌相册</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/album.css" />
</head>
<body>
    <div class="album">
        <div class="sheet left_sheet" id="left_sheet" data-i="0">
            <div class="clip">
                <img src="<%= photos[0].path %>">
                <div class="date">
                    <label><%= photos[0].date %></label>
                </div>
            </div>
            
        </div>
        <div class="sheet right_sheet" id="right_sheet" data-i="1">
            <div class="clip">
                <img src="<%= photos[1].path %>">
                <div class="date">
                    <label><%= photos[1].date %></label>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/album.js"></script>
</body>
</html>