<!DOCTYPE html>
<html>
<head>
    <title>张乐萌相册</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/album.css" />
</head>
<body>
    <div class="album">
        <div class="sheet left_sheet">
            <img src="/img/1.jpg">
        </div>
        <div class="sheet right_sheet">
            <img src="/img/2.jpg">
        </div>
        
    </div>
</body>
</html>