<!DOCTYPE html>
<html>
<head>
    <title>新增病例</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/album_add.css" />
</head>
<body>
    <div >
        <div><%= message%> </div>
        <form method="post" enctype="multipart/form-data">
            <table>
                <tbody>
                    <tr>
                        <td>选择图片：</td>
                        <td><input type="file" name="photo"></td>
                    </tr>
                    <tr>
                        <td>拍摄日期：</td>
                        <td><input type="text" name="date" placeholder="例：2016-07-09"></td>
                    </tr>
                    <tr>
                        <td>提交口令：</td>
                        <td><input type="password" name="psd"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit">提交照片</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/album_add.js"></script>
</body>
</html>