<!DOCTYPE html>
<html>
<head>
    <title>诊断结果</title>
</head>
<body>
    <div >
        <div><%= message%> </div>
        <table>
            <tbody>
                <tr>
                    <td colspan="2">基本信息</td>
                </tr>
                <tr>
                    <td>诊断：</td>
                    <td>
                        ？？
                    </td>
                </tr>
                <tr>
                    <td>处理意见：</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div>
            <h2>相似病例：</h2>
        </div>
        <div>
            <h2>我的历程：</h2>
        </div>
    </div>
</body>
</html>