<!DOCTYPE html>
<html>
<head>
    <title>用户首页</title>
</head>
<body>
    <div >
        <div>用户首页</div>
        <div><span>您好：</span><%= username %></div>
        <div>
        	<button type="button" id="set">修改密码</button>
        	<button type="button" id="logout">登出</button>
        </div>
        <a href="../record/index">个人记录</a>
        <a href="../report/add">新增就诊</a>
    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#logout').click(function(){
                $.ajax({
                    url: "logout",
                    type: "post",
                    dataType: "json",
                    success:function(msg){
                        //console.log(msg);
                        if (msg.result === 1) {
                            window.location.href = './login';
                        } else {
                            alert(msg.message);
                        }
                        
                    }
                });
            });

            $('#set').click(function() {
            	window.location.href = './set';
            })

        });
    </script>
</body>
</html>