<!DOCTYPE html>
<html>
<head>
    <title>注册</title>
</head>
<body>
    <div >
        <div>注册</div>
        <form method="post" enctype="multipart/form-data" name="form">
            <table>
                <tbody>
                    <tr>
                        <td>账号：</td>
                        <td>
                            <input type="text" id="username" placeholder="请输入手机、邮箱或身份证"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td><input type="password" id="password1"></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input type="password" id="password2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="register">注册</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#register').click(function(){
                var username = $.trim($('#username').val());
                var password1 = $.trim($('#password1').val());
                var password2 = $.trim($('#password2').val());
                if (password1 !== password2) {
                    alert('两次密码输入不一致');
                } else {
                    var datas = {
                        username: username,
                        password: password1
                    }
                    $.ajax({
                        url: "",
                        data: datas,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            //console.log(msg);
                            if (msg.result === 1) {
                                window.location.href = './index';
                            } else {
                                alert(msg.message);
                            }
                            
                        }
                    });
                    
                }
            });
        });
    </script>
</body>
</html>