<!DOCTYPE html>
<html>
<head>
    <title>修改密码</title>
</head>
<body>
    <div >
        <div>修改密码</div>
        <form method="post" enctype="multipart/form-data" name="form">
            <table>
                <tbody>
                    <tr>
                        <td>旧密码：</td>
                        <td>
                            <input type="text" id="old" placeholder="请输入旧密码"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td><input type="password" id="new1"></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input type="password" id="new2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="change">修改</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#change').click(function(){
                var old = $.trim($('#old').val());
                var new1 = $.trim($('#new1').val());
                var new2 = $.trim($('#new2').val());
                if (new1 !== new2) {
                    alert('两次密码输入不一致');
                } else {
                    var datas = {
                        old: old,
                        new: new1
                    }
                    $.ajax({
                        url: "",
                        data: datas,
                        type: "post",
                        dataType: "json",
                        success:function(msg){
                            //console.log(msg);
                            if (msg.result === 1) {
                                alert('密码修改成功，请妥善保管新密码')
                                window.location.href = './index';
                            } else {
                                alert(msg.message);
                            }
                            
                        }
                    });
                    
                }
            });
        });
    </script>
</body>
</html>