<!DOCTYPE html>
<html>
<head>
    <title>个人血压记录</title>
</head>
<body>
    <div >
        <div>个人血压记录</div>
        <p>历史记录(<%= list.length %>)</p>
        <ul>
            <% list.forEach(function(item){%>
                <li><span><%=item.date.toString() %> </span> 低压：<span><%=item.low %></span> 高压<%=item.hi %></li>
            <% }) %>
        </ul>
    </div>
</body>
</html>