<!DOCTYPE html>
<html>
<head>
    <title>个人血压记录</title>
</head>
<body>
    <div >
        <div>个人血压记录</div>
        <p>添加新记录</p>
        <label>低压<input type="text" /></label>
        <label>高压<input type="text" /></label>
        <button type="button">提交</button>
        <p>历史记录</p>
        <ul>
            <li><span>2016-11-30 </span> <span>110</span><span>170</span></li>
            <li><span>2015-11-30 </span> <span>110</span><span>170</span></li>
            <li><span>2014-11-30 </span> <span>110</span><span>170</span></li>
        </ul>
    </div>
</body>
</html>