<!DOCTYPE html>
<html>
<head>
    <title>个人身高记录</title>
</head>
<body>
    <div >
        <div>个人身高记录</div>
        <p>历史记录(<%= list.length %>)</p>
        <ul>
            <% list.forEach(function(item){%>
                <li><span><%=item.date.toString() %> </span> 身高：<span><%=item.value %></span>cm</li>
            <% }) %>
        </ul>
    </div>
</body>
</html>