<!DOCTYPE html>
<html>
<head>
    <title>个人身高记录</title>
</head>
<body>
    <div >
        <div>个人身高记录</div>
        <p>添加新记录 <a href="./history/heights">历史数据</a></p>
        <table>
            <tbody>
                <tr>
                    <td>身高</td>
                    <td><input type="text" id="height" /></td>
                </tr>
                <tr>
                    <td>时间</td>
                    <td><input type="text" id="date" /></td>
                    <td><button type="button" id="now">使用当前时间</button></td>
                </tr>
            </tbody>
        </table>
        
        <button type="button" id="submit">提交</button>

    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#submit').click(function(){
                var datas = {
                    value: $('#height').val(),
                    date: $('#date').val(),
                    type: 'heights'
                }
                $(this).text('数据保存中...').attr("disabled", "disabled");
                saveRecord(datas);
            });
        });
    </script>
</body>
</html>