<!DOCTYPE html>
<html>
<head>
    <title>个人身高记录</title>
</head>
<body>
    <div >
        <div>个人身高记录</div>
        <p>添加新记录</p>
        <input type="text" />
        <button type="button">提交</button>
        <p>历史记录</p>
        <ul>
            <li><span>2016-11-30 </span> <span>165</span>cm</li>
            <li><span>2015-11-30 </span> <span>155</span>cm</li>
            <li><span>2014-11-30 </span> <span>145</span>cm</li>
        </ul>
    </div>
</body>
</html>