<!DOCTYPE html>
<html>
<head>
    <title>个人身高记录</title>
</head>
<body>
    <div >
        <div>个人身高记录</div>
        <p>添加新记录</p>
        <input type="text" id="height" />
        <button type="button" id="submit">提交</button>
    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#submit').click(function(){
                var datas = {
                    height: $('#height').val(),
                }
                $(this).text('数据保存中...').attr("disabled", "disabled");
                $.ajax({
                    url: "",
                    data: datas,
                    type: "post",
                    dataType: "json",
                    success:function(msg){
                        //console.log(msg);
                        $('#submit').attr("disabled", false);
                        if (msg.result === 1) {
                            window.location.href = './height_history';
                        } else {
                            alert(msg.message);
                        }
                        
                    }
                });
            });
        });
    </script>
</body>
</html>