<!DOCTYPE html>
<html>
<head>
    <title>记录首页</title>
</head>
<body>
    <div >
        <div>记录首页</div>
        <p>现提供以下记录服务</p>
        <ul>
            <li><a href="./height">身高</a></li>
            <li><a href="./weight">体重</a></li>
            <li><a href="./blood_press">血压</a></li>
        </ul>
    </div>
</body>
</html>