<!DOCTYPE html>
<html>
<head>
    <title>个人身高记录</title>
</head>
<body>
    <div >
        <div>个人身高记录</div>
        <p>历史记录(<%= list.length %>)</p>
        <ul>
            <% list.forEach(function(item){%>
                <li>
                    <%=item.date %> 体重：<%=item.value %>kg
                    <button type="button" class="delete" data-id="<%=item.id %>" data-type="weights">删除</button>
                </li>
            <% }) %>
        </ul>
    </div>
    <script src="http://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
</body>
</html>