<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <title>故纸堆里，以史为镜</title>
  <link rel="stylesheet" type="text/css" href="/static/css/guzhidui.css">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_jrgg8k31forjxlxr.css">
</head>
<body>
  <div id="app"> loading ......</div>
  <script src="/static/js/guzhidui/bundle.js"></script>
</body>
</html>